<!DOCTYPE html>
<html lang="en">
{% if msg %}
<h1>{{msg}}</h1>
{% endif %}
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <label for="n1">Enter first Number:</label>
    <input type="text" name="n1" id="n1"><br><br>
    <label for="n2">Enter second number:</label>
    <input type="text" name="n2" id="n2"><br><br>
    <label for="op">Choose an operator:</label>
    <select name="op" id="op">
        <option value="select">select</option>
    <option value="add">Addition</option>
    <option value="sub">Substraction</option>
    <option value="multi">Multiplication</option>
    <option value="div">Division</option>
    </select><br><br>
    <button type="submit" value="submit" id="b1">Result</button>

    <input type="text" value="{{c}}" name="out">




</form>
</body>
</html>